.inventory-container{
    height: 100vh;
    width: 25vw;
    background-color: blue;
    margin-right: 0;
    padding: 20px 50px;
    box-sizing: border-box;
}


.grid-container  {
    margin: 25% 0 0 0;
    padding: 10px;
    height: 60%;
    border: 3px solid white;
    box-sizing: border-box;
}


@media {

}