.marketplace {
    width: 100%;
    height: 50vh;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    padding: 12% 0 0 0;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25)), url("/assets/marketplace.png");
    background-size: cover;
}