.item-container {
    height: 100px;
    width: 100px;
    background-color: #603904;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 1px;
    flex-basis: calc((100% / 5) - 3px);
    overflow: hidden;
}

.item-image {
    width: 100px;
}